table {
    align-items: center;
    width: 80%;
    height: 30rem;
}
th:nth-child(1) {
    width: 30px;
}
th:last-child {
    width: 80px;
}
img {
    width: 250px;
    height: 350px;
}

.title {
    width: 150px;
    align-items: center;
}

h2 {
    color: tomato;
}
